{% extends 'assets/base.html' %}

{% load url from future %}
{% load icons %}
{% load bob %}

{% block content %}
<h2>Walidator danych: </h2>

<h3>Import danych</h3>
{% form form=form %}
<hr>
    <h3>Błędy z inwentaryzacji</h3><br>
    <a class='button btn-primary' href="?csv"> Export do csv</a><br>
    <a class='button btn-primary' href="?reimport">Reimport poprawionych rekordów</a><br>
    <br>
    <h3> niekompletnych: {{failed_count}}, błędnych: {{fixed_count}}, zaimportowanych: {{success_count}}</h3>

    <table class="table table-striped table-bordered">
        <thead><tr>
                <th>błędy</th>
                <th>link</th>
                <th>link</th>
                {% include "assets/view_record_header.html" %}
        </tr>
    </thead>
        <tbody>
        {% for type, record, errors, paired_data in import_errors.ralph %}
        <tr>
            <td>
                {{ errors|join:',' }}
            </td>
            <td>
                <a href="/admin/ralph_assets_imports/importrecord/{{record.id}}">Edit</a><br>
            </td>
            <td>
                <a target="_noblank" href="?create_id={{record.id}}">Add</a>
            </td>
            {% include "assets/view_record.html" with record=record %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr>
    <h3>Brak w Inwentaryzacji</h3>
    <table class="table table-striped table-bordered">
        <thead><tr>
                <th>Link</th>
                {% include "assets/view_ralph_header.html" %}
        </tr></thead>
        <tbody>
        {% for type, record in import_errors.inwent %}
        <tr>
            <td>

            </td>
            {% include "assets/view_ralph.html" with record=record %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
