<td>
    {{ record.model }}
</td>
<td>
    {{ record.device_type }}
</td>
<td>
    {{ record.sn }}
</td>
<td>
    {{ record.barcode }}
</td>
<td>
    {{ record.invent_value }}
</td>
<td>
    {{ record.rack }}
</td>
<td>
    {{ record.u_level}}
</td>
<td>
    {{ record.device_height }}
</td>
<td>
    {{ record.dc }}
</td>
<td>
    {{ record.info }}
</td>
<td>
    {{ record.niw }}
</td>
<td>
    {{ record.fv }}
</td>
<td>
    {{ record.name }}
</td>
<td>
    {{ record.date }}
</td>
<td>
    {{ record.price_netto }}
</td>
<td>
    {{ record.deprecation_rate }}
</td>
