{% extends 'assets/base.html' %}

{% load url from future %}
{% load icons %}
{% load bob %}

{% block content %}
<h3>Import Assets data</h3>
{% form form=form %}

    <table class="table table-striped table-bordered details-history">
        <thead><tr>
        </tr></thead>
        <tbody>
        {% for row in records %}
        <tr>
            {{ row.model }}
            {{ row.device_type }}
            {{ row.sn }}
            {{ row.barcode }}
            {{ row.invent_value }}
            {{ row.box }}
            {{ row.u_level}}
            {{ row.device_height }}
            {{ row.dc }}
            {{ row.info }}
            {{ row.niw }}
            {{ row.fv }}
            {{ row.name }}
            {{ row.date }}
            {{ row.price_netto }}
            {{ row.deprecation_rate }}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
